	@charset "UTF-8";
/* CSS Document */

h3{ font-size: 19px; margin-bottom: 15px; }

/* Boostrap Navbar Alterações */
.navbar {
  padding: 0.6rem 0;
}
.dropdown-item {
  font-size: 8px;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link {
    font-size: 8px;
}
.navbar-brand{
  padding: 0;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 20px!important;
  padding-left: 20px!important;
  font-size: 8px;
  margin-right: 8px;
}
.nav-btn {
  font-size: 8px;
  margin: 0 ;
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.social-media-nav img {
    margin: 0 3px;
}
/* Fim Boostrap Navbar Alterações */

.topo {
    padding: 115px 0 65px 0;
}
.equipe {
    padding: 80px 0;
}
.redes-sociais img{
	margin-bottom: 15px;
}
@media only screen and (max-width: 888px) {
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link {
  font-size: 7px;
  padding-right: 10px!important;
  padding-left: 10px!important;
}
.navbar-expand-md .navbar-nav .nav-link {
  font-size: 7px;
  padding-right: 10px!important;
  padding-left: 10px!important;
}
}
